<div class="main">
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>User ID</th>
      <th>E-mail</th>
      <th>First Name</th>
      <th>Roles</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let model of models">
      <td>{{model?.userId}}</td>
      <td>{{model?.email}}</td>
      <td>{{model?.username}}</td>
      <td> {{model?.authorities}} </td>
      <td><button class="login" (click)=DeleteUser(model.userId) ngbDropdownItem> delete</button>
        <button class="login" (click)=setAdminRole(model.username) ngbDropdownItem> Set Admin Role</button>
      </td>

    </tr>
    </tbody>
  </table>

</div>


