html{
  padding: 0;
  height: 100%;
}
body{
  margin-top: 63px;
  height: 86%;
}
.login, .sign-up {
  background-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid #0079D3;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  margin-top: 20px;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.col-md-11{
  margin-left: 60px;
}

.flex-grow-1{
  margin-left: 20px;
}
.float-right{
  margin-left: 20px;
}
.mr-2{
  margin-left: 300px;
}
.btnCommments{
  margin-right: 20px;
}
